body{
    background-color: aliceblue;
}
.felkero{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 60px;
    text-align: center;
}

.gombok{
    text-align: center;
}

.btn{
    margin: 50px;
    width: 240px;
    height: 70px;
    background-color: darkorange;
    border: none;
    letter-spacing: 3px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    text-decoration: none;

}
.btn a:link{
    text-decoration: none;
}
.btn a:hover{
    color: aliceblue;
}

